.login {
    display: flex;
    flex-direction: column;
}

.login > form {
    
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.formulario_login input, button {
    width: 100%;
}

.formulario_login input {
    padding: 15px;
    border: 2px solid black;
}

.formulario_login button {
    background-color: #1CD1B0;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}
