@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #E5E5E5;
}

/* Caixa de Desconto*/

.caixa-descontos {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 0px;
    background: #1CD1B0;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

/* Header */

header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 131px;
    left: 0px;
    top: 20px;
    padding: 20px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

h1 {
    width: 224px;
    height: 47px;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
}

/* Section */

section {
    display: flex;
    justify-content: center;
    gap: 80px;
    position: absolute;
    width: 99.5%;
    height: 597.01px;
    display: flex;
    top: 180px;
}

.caixa-heroi {
    
    width: 374px;
    height: 600px;
    border-radius: 30px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-repeat: no-repeat;
    background-size: 400px;
}

.batman {
    background-image: url('../imgs/fundo_batman.jpg');

}

.arlequina {
    background-image: url('../imgs/fundo_arlequina.jpg');
}

.img-like {
    position: relative;
    left: 3%;
    right: 0%;
    bottom: 15%;
}

.img-personagem {
    width: 140px;
    height: 140px;
    border-radius: 550px;
    position: relative;
    left: 20%;
    top: 100.57px;
}

.heroi-title {
    position: relative;
    width: 137.69px;
    height: 39.5px;
    left: 31%;
    top: 15%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

}

.heroi-texto {
    position: relative;
    width: 301.33px;
    height: 127.53px;
    left: 10%;
    top: 20%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #333333;    
}

.heroi-vermais {

    position: relative;
    width: 145.34px;
    height: 54.76px;
    left: 31%;
    top: 22%;
    background: #00669F;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #F3F3F3;
}

/* Footer */

footer {
    color: white;
    position: absolute;
    width: 97.7%;
    height: 21px;
    left: 0px;
    top: 972px;

    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    font-family: 'Roboto';
}