section {
    background-color: #00669F;
    border-radius: 100px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.div3 {
   display: flex;
   
}
